@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Styles */
body {
	/* Text */
	font-family: 'Roboto', sans-serif;
	/* Positioning */
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Animation */
	transition: all .25s cubic-bezier(.22,.61,.36,1);
}
